<!DOCTYPE html>
<html>
<head>
    <title>PhotographeR</title>
    <script type="text/javascript">
        function setCurrentImage(imageId)
        {
             var currentImage = document.getElementById(imageId);
             document.getElementsByName("photoid")[0].value = currentImage.id
        }
    </script>
</head>
<body>
<h2 align="center">Search Results</h2>
<div>
<button name="Back" onclick="clickme()" style="height: 20px; width: 100px;background-color: lightgray"> Go Back </button>
</div>
<br>
<div>
<!--<img border="0" src="http://upload.wikimedia.org/wikipedia/commons/e/e3/CentaureaCyanus-bloem-kl.jpg" alt="Pulpit rock" width="304" height="228">-->
 <form action="/similarSearch/" method="post">
 {% csrf_token %}
    {% for row in rows %}
        <a>
        <img name="renderedImage" border="0" src={{ row.4 }} id={{ row.0 }} alt={{ row.0 }} "Pulpitrock" width="304" height="228" onclick="setCurrentImage(id)">
        </a>
    {% endfor %}
 <input type="hidden" name="photoid" value="">
 <input type="hidden" name="url" value="">
 <input type="hidden" name="iso" value="">
 <input type="hidden" name="aper" value="">
 <input type="hidden" name="expo" value="">
    <br><br><br>
     <div align="center">
         <input align="center" type="submit" value="Similar Search">
     </div>
 </form>
<div>
<button name="Back" onclick="clickme()" style="height: 20px; width: 100px;background-color: lightgray"> Go Back </button>
</div>
</div>
</body>
</html>