<!DOCTYPE html>
<html>
<head>
    <title>Similar Search</title>
    <script type="text/javascript">
        function clickme()
        {
            window.history.back()
        }
        function setCurrentImage(imageId)
        {
             var currentImage = document.getElementById(imageId);
             document.getElementsByName("photoid")[0].value = currentImage.id
             document.getElementById("form1").submit()
        }
    </script>
</head>
<body>
<h1>You selected </h1>
<div>

    <table style>
        <tr>
            <td></td></tr>
            <tr><td colspan="7">
                <img name="renderedImage" border="0" src={{ url}} id={{ id }} alt={{ id }} "Pulpitrock" width="304" height="228" >
            </td>
            <td></td>
             <td>
                 <table style="font-size: 28">
                     <tr><td>ISO:</td><td>{{ iso }}</td></tr>
                     <tr><td>Aperture:</td><td>{% if aper == None %}NA{% else %}{{ aper }}{% endif %}</td></tr>
                     <tr><td>Exposure:</td><td>{% if expo == None %}NA{% else %}{{ expo }}{% endif %}</td></tr>
                 </table>
             </td>
        </tr>

    </table>

</div>

<br><br><br>
<h1>Results for similar settings</h1>
<br><br>
 {% for row in rows %}
        <a>
        <img name="renderedImage" border="0" src={{ row.4 }} id={{ row.0 }} alt={{ row.0 }} "Pulpitrock" width="304" height="228" >
        </a>
    {% endfor %}
<div>
<button name="Back" onclick="clickme()" style="height: 20px; width: 100px;background-color: lightgray"> Go Back </button>
</div>
</body>
</html>